/*  body */
.container-main {
    display: flex;
}

.container-main>aside {
    box-shadow: 0px 0px 1px 2px rgb(249, 249, 249, 0.5);
    position: fixed;
    background-color: white;
    top: 0px;
    left: 0px;
    z-index: 1;
}

/* HEAD LOGO */
aside>header>nav>.logo-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

aside>header>nav>.logo-body>.logo-head {
    width: 70%;
    padding-left: 15px;
}

.icon-branch {
    text-align: center;
    margin-bottom: 15px;
}

* {
    font-family: "Sukhumvit Set", "Courier New", verdana, sans-serif;
}

article>nav>ul {
    list-style: none;
}

article>nav>ul>li {
    padding-bottom: 10px;
}

article>nav>ul>li:hover {
    background-color: rgb(237, 237, 237, 0.7);
}



article>nav>ul>li>a {
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    padding-top: 10px;
    opacity: 0.6;
    padding-left: 25px;
    color: black;
    text-decoration: none;
}


article>nav>ul>li>a:hover {
    color: black;
    text-decoration: none;
    opacity: 1;

}


article>nav>ul>li:nth-child(1):hover {
    opacity: 1;
}

article>nav>ul>li>a>i {
    margin-right: 10px;
    margin-top: 5px;
}

/* head content */
.head-user {
    width: 100%;
    height: 64px;
    background-color: #063356;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.user-link {
    color: white;
    display: flex;
    align-items: center;
    margin-right: 30px;
}



/* customize scrolling */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: rgb(237, 237, 237, 0.7);
    border-radius: 10px;
}

/* Drop Down Menu */
.toggle-dropdown {
    list-style: none;
    display: none;
}

.toggle-dropdown>li {
    padding-left: 40px;
    margin-top: 15px;
    opacity: 0.4;
    cursor: pointer;
}

.toggle-dropdown>li>a {
    margin-left: 5px;
    color: black;
    text-decoration: none;
}

.toggle-dropdown>li>i {
    opacity: 0.4;
}

.toggle-dropdown>li:hover {
    opacity: 1;
}

.menu-active {
    opacity: 1;
    background-color: rgb(237, 237, 237, 0.7);


}

.a-menu-active {
    opacity: 1;
    color: black;
    text-decoration: none;
}

.dropdown-active {
    display: block;
}

.dropdown-active-li-active {
    opacity: 1;
}